@import './Webcam/webcam.css';

.home__container{
    height:84vh;
    width:85vw;
    background: rgba(255,255,255, 0.2); 
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-bottom:12vh;
    z-index:0;
}
.home__header{
   width: 100vw;
   display:flex;
   justify-content:center;
}
.header__container{
    width: 80vw;
    display:flex;
    justify-content:space-between;
}
.home__connection{
    display:flex;
}
.header__logo{
    width:20rem;

    display:flex;
    flex-direction:column;
    align-items: center;
    border-right: solid white 0.2rem;
    border-left: solid white 0.2rem;
    margin-top:1.5rem;
}
.header__title{
    font-size:1.2rem;
    color:white;
    font-family:nasalization, sans-serif;
    margin-top:0.3rem;
}
.home__connection{
    width: 14rem;
    display:flex;
    justify-content:space-around;
}
.home__client{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family:nasalization, sans-serif;
    color:white;
    margin-top:1rem;
}
.home__client--para{
    margin-top:-.3rem;
    font-size:0.7rem;
    padding: 0.3rem 0.6rem;
    border-top: lightgreen 0.1rem solid;
    border-bottom: lightgreen 0.1rem solid;
}
.home__client--title{
    margin-top:0rem;
}

.navigator__container{
    background-color:#6F8BA0;
    position:relative;
    display:flex;
    width: 85vw;
    justify-content: space-between;
    
}
.navigator__wrapper{

color:white;
font-family:nasalization, sans-serif;
z-index:2;
}

.selected{
    border-radius:2rem 0;
    background-color:#051A29;
}
.nav__item{
position:relative;
padding: 0.2rem 10.55vw;
}

.nav__item:hover{
    border-radius:2rem 0;
    background-color:#051A29;
cursor:pointer;
}

.navigator{
    height:85vh;
}

.webcam__container{
    width:85vw;
    height:84vh;
}

.webcam__pcicon{
    position:relative;
    left:7vw;
    top:3vh;
}

.webcam__vrfeed{
  position:relative;
  top:42vh;
  left:60vw;
  width:18rem;
  height:15rem;
  border: white solid 1px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  padding: 2rem 2rem;
}

.webcam__vrfeed--thumbs{
    font-size:1.2rem;
    text-align:center;
    color:white;
    font-family:nasalization, sans-serif;
}




